---
layout: main
title: "MultiMT: Multi-modal Context Modelling for Machine Translation"
---

<div class="main">

  <img src="images/logo/multimt_logo_min.png" style="width:500px;" />

  <h1><a href="http://cordis.europa.eu/project/rcn/200709_en.html">MultiMT:	Multi-modal Context Modelling for Machine Translation</a></h1>
    
  {% include people.html %}
      
  {% include news.html %}

  <h1 class="page-heading">Posts A</h1>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
