<footer id="site-footer">
  <div id="footer-container">
    <p>MultiMT is funded by the European Union's Horizon 2020 European Research Council (ERC) Starting Grant for Lucia Specia,  under grant agreement <a href="http://cordis.europa.eu/project/rcn/200709_en.html">No. 678017</a>.</p>
  </div>
</footer>


  <script src="js/jquery-2.2.4.min.js"></script>
  <script src="js/jquery.scrollNav.min.js"></script>

  <script>
$('#page-container').scrollNav({
    showTopLink: false,
    insertLocation: 'appendTo',
    headlineText: ''
});
  </script>
